<mat-dialog-content class="bg-pre">
  <h4 class="text-center mb-3">Edit Board</h4>
  <form
    class="d-flex flex-column gap-3"
    [formGroup]="boardForm"
    (ngSubmit)="editBoard()"
  >
    <div>
      <mat-form-field appearance="outline" color="accent" class="bg-pre">
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="name" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" color="accent" class="bg-pre">
        <mat-label>Price (Rs.)</mat-label>
        <input matInput type="text" formControlName="price" />
      </mat-form-field>
    </div>
    <button
      mat-raised-button
      class="bg-violet p-4 w-100"
      *ngIf="!submitting"
      [disabled]="boardForm.invalid"
    >
      Save
    </button>
    <button mat-raised-button class="bg-violet p-4 w-100" *ngIf="submitting">
      <div class="spinner-border spinner-border-sm" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </button>
  </form>
</mat-dialog-content>
