<nav class="navbar navbar-expand-lg bg-violet fixed-top" data-bs-theme="dark">
  <div class="container-fluid px-5">
    <div
      class="collapse navbar-collapse d-flex align-items-center justify-content-between"
    >
      <a class="navbar-brand" routerLink="/">
        <div class="d-flex align-items-center gap-2">
          <img
            src="../../../assets/logo.png"
            alt="Logo"
            width="35"
            height="35"
          />
          <span>White Noise</span>
        </div>
      </a>
      <ul class="navbar-nav d-flex align-items-center gap-3">
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard" routerLinkActive="active"
            >Dashboard</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/games" routerLinkActive="active"
            >Games</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/orders" routerLinkActive="active"
            >Orders</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/bookings" routerLinkActive="active"
            >Bookings</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/customers" routerLinkActive="active"
            >Customers</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/boards" routerLinkActive="active"
            >Boards</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/menu" routerLinkActive="active"
            >Menu</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/billing" routerLinkActive="active"
            >Billing</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/calculator" routerLinkActive="active"
            >Calculator</a
          >
        </li>
      </ul>
      <button mat-button>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="25"
          height="25"
          fill="currentColor"
          class="bi bi-power"
          viewBox="0 0 16 16"
        >
          <path d="M7.5 1v7h1V1z" />
          <path
            d="M3 8.812a5 5 0 0 1 2.578-4.375l-.485-.874A6 6 0 1 0 11 3.616l-.501.865A5 5 0 1 1 3 8.812"
          />
        </svg>
      </button>
    </div>
  </div>
</nav>
